@using ASP.Server.Model
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Liste des livres:</h1>

<p>
    @Html.ActionLink("Create New","Create")
</p>



<table class="listeBooks">
    <tr>
        <th>
                Id
        </th>
        <th>
                Titre
        </th>
        <th>
                Auteur
        </th>
        <th>
                Contenu
        </th>
        <th>
                Prix
        </th>
        <th>
            
                Genres
        </th>
        <th>
            
               Suppression
            
        </th>
        <th>
            
               Modification
            
        </th>
    </tr>
    <!-- la liste des genres est dans la variable Model qui est typé en ligne 3, elle correspond à la variable xxx dans View(xxx) du controller -->
    @foreach (var book in Model)
    {
       

        <tr>
            <td>
                @book.Id
            </td>
            <td>
                @book.titre
            </td>
            <td>
                @book.auteur
            </td>    
            <td>
                @book.contenu
            </td> 
            <td>
                @book.prix
            </td> 
            <td>
                @foreach (var genre in book.Genres)
               {
                   @genre.Type
               }
            </td>
            <td>
                 <form asp-controller="Book" asp-action="Delete">
                 <input type="submit" value="Supp" style="width: 100%; margin-top: 50px" />
                 <input type="hidden" value="@book.Id" name="id"/>
                 </form>
            </td>
            <td>
               <form asp-controller="Book" asp-action="Modify">
                 <input type="submit" value="Modif" style="width: 100%; margin-top: 50px" />
                 <input type="hidden" value="@book.Id" name="id"/>
                 </form>
            </td>
        </tr>
     

    }
</table>

